<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">

	.careers_wrap {
		max-width: 1500px;
		margin: 0 auto;
	}
	.careers_wrap .e-verify,
	.careers_wrap .right_to_work_en,
	.careers_wrap .right_to_work_es {
		background: #005cb8;
    padding: 0.8em 3em;
    min-width: 25%;
    color: white;
    border: 0;
    margin: 1em;
	}
	.careers_wrap .w-50 {
		width: 50%;
		margin: 0 auto;
		text-indent: -20px;
	}
	.careers_wrap .w-50 h4 {
		padding: 1em;
	}

</style>

<div class="careers_wrap">

	<div class="careers_benefit_wrap row">
		<div class="title text-center">
			<p>Working at Zippertubing® brings with it many perks. We offer very competitive benefits as well as a fun and growing work environment.</p>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<img src="https://via.placeholder.com/200" style="border-radius: 15em;">
			</div>
			<div class="w-50">
				<h4 class="text-center">PTO</h4>
				<li>Paid time off</li>
				<li>48 hours annually</li>
				<li>Pro-rated the first year only</li>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<img src="https://via.placeholder.com/200" style="border-radius: 15em;">
			</div>
			<div class="w-50">
				<h4 class="text-center">Paid Vacation</h4>
				<li>10 days vacation at first year anniversary</li>
				<li>At five years of employment vacation days increase</li>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<img src="https://via.placeholder.com/200" style="border-radius: 15em;">
			</div>
			<div class="w-50">
				<h4 class="text-center">Paid Benefits</h4>
				<li>Life / AD&D</li>
				<li>Short and Long Term Disability</li>
				<li>EAP (Employee Assistance Program)</li>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<img src="https://via.placeholder.com/200" style="border-radius: 15em;">
			</div>
			<div class="w-50">
				<h4 class="text-center">Available Benefits</h4>
				<li>Cigna Medical / Dental</li>
				<li>VSP Vision</li>
				<li>Lincoln Financial Group – Voluntary Life</li>
				<li>401K with company match</li>
			</div>
		</div>

	</div>

	<div class="col-md-12 text-center">
		<h2>Positions</h2>
	</div>

  <div class="job_listings">
		<link data-v-37861664="" rel="stylesheet" type="text/css" href="//reports.hrmdirect.com/employment/default/sm/settings/dynamic-embed/dynamic-iframe-embed-css.php">
		<div data-v-37861664="" id="iframeHeightDiv" name="HRM Direct Career Site iFrame Container" align="center" style="height: 450px; background: #f8f8f9; padding: 0.8em;"><iframe data-v-37861664="" id="inlineframe" name="HRM Direct Career Site iFrame" sandbox="allow-top-navigation allow-scripts allow-forms allow-popups allow-same-origin" src="////zippertubing.hrmdirect.com/employment/job-openings.php?search=true&amp;nohd" frameborder="0" allowtransparency="true" title="Career Site"></iframe></div>
	</div>

	<div class="col-md-12">
		<h2 class="text-center" style="padding: 2em;">APPLY TODAY</h2>
		<p style="max-width: 80%; margin: 0 auto;"><strong style="color: #005cb8;">Zippertubing<sup>®</sup> is an Equal Opportunity Employer and Prohibits Discrimination and Harassment of Any Kind:</strong> Zippertubing<sup>®</sup> is committed to the principle of equal employment opportunity for all employees and to providing employees with a work environment free of discrimination and harassment. All employment decisions at Zippertubing<sup>®</sup> are based on business needs, job requirements and individual qualifications, without regard to race, color, religion or belief, national, social or ethnic origin, sex (including pregnancy), age, physical, mental or sensory disability, HIV Status, sexual orientation, gender identity and/or expression, marital, civil union or domestic partnership status, past or present military service, family medical history or genetic information, family or parental status, or any other status protected by the laws or regulations in the locations where we operate. Zippertubing<sup>®</sup> will not tolerate discrimination or harassment based on any of these characteristics. Zippertubing<sup>®</sup>encourages applicants of all ages.</p>

		<p class="text-center" style="color: #005cb8; padding: 3em; font-size: 1.6em;">Zippertubing<sup>®</sup> uses <a href="https://www.e-verify.gov/" target="_blank">E-Verify</a>.</p>

		<div class="col-md-6 text-center">
			<h4>E-Verify Participation</h4>
			<p><a href="/docs/e-verify-participation-poster-es.pdf" target="_blank" title="E-verify Participation"><button class="e-verify">English &amp; Spanish</button></a></p>
		</div>
		<div class="col-md-6 text-center">
			<h4>Right to Work Documentation</h4>
			<p><a href="/docs/rtw-english.pdf" target="_blank" title="Right to Work: English"><button class="right_to_work_en">English</button></a><a href="/docs/rtw-spanish.pdf" target="_blank" title="Right to Work: Spanish"><button class="right_to_work_es">Spanish</button></a></p>
		</div>
	</div>
</div>

