
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/f440c13f38.js" crossorigin="anonymous" defer></script>

<style>

  .wrap {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

  a:link {
    color: #121212;
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }

  a:hover,
  .wrap .selected_product .right.reset span:hover {
    color: #0151a0;
    text-decoration: underline !important;
  }

  div.product-info {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10em;
  }

  div#jacket_name div,
  div#shielding_name div,
  div#closure_name div,
  div#shape_name div {
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0.8em;
    width: 14%;
    height: 100%;
    display: inline-flex;
    cursor: pointer;
    border-radius: 10px;
    background-position: inherit;
    background-size: cover;
    padding-bottom: 11em;
  }

  div#jacket_name div:hover,
  div#shielding_name div:hover {
    background: #ccc;
  }

  div.product-info div span {
    padding: 0.2em 0.6em;
    background-color: #e2e2e2;
    height: fit-content;
    width: 100%;
    border-radius: 8px 8px 0 0;
    text-align: center;
  }

  .selected {
    box-shadow: 4px 4px 8px 4px;
  }

  .shield,
  .closure,
  .shape {
    display: none;
  }

  .selected_product {
    text-align: center;
    background-color: #e8e8e8;
    {% comment %} position: fixed; {% endcomment %}
    top: 0;
    width: 100%;
    {% comment %} display: flex; {% endcomment %}
    z-index: 1;
    position: sticky;
  }

  .selected_product .page-width {
    display: flex;
  }

  .selected_product .left {
    flex-grow: 1;
    font-size: 4em;
    color: #005cb9;
    width: 15%;
  }

  .selected_product .title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .selected_product .right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
  }

  .selected_product .right.reset {
    cursor: pointer;
  }

  #jacket_name,
  #shielding_name {
    position: relative;
  }

  .jacket .None:before {
    content:  "\f05e";
    font-family: FontAwesome;
    position:absolute;
    font-size: 7em;
    opacity: 0.08;
    padding: 2% 3.5%;
  }

  /* Modal styling ================== */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 3%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation:fadein .5s;
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }

  /* Modal Content ================== */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 68%;
    min-height: 40%;
    border-radius: 10px;
    margin-bottom: 4em;
  }

  /* The Close Button ============== */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content .modal_wrap .prod_title {
    text-align: center;
    padding-left: 10em;
  }

  .modal-content .modal_wrap .prod_title span {
    font-size: 0.4em;
    margin-left: 1em;
  }

  .modal-content .modal_wrap .prod_spec {
    padding-top: 0;
  }

  .modal-content .modal_wrap .prod_spec .table_header {
    background: #ccc;
    font-weight: bold;
  }

  .modal-content .modal_wrap .prod_spec table tr {
    text-align: center;
    line-height: 1;
  }

  .modal-content .modal_wrap .button_wrap {
    text-align: center;
    padding: 2em;
  }

  .modal-content .modal_wrap .content .prod_img {
    width: 25%;
  }

  .modal-content .modal_wrap .content .prod_detail {
    width: 72%;
    vertical-align: top;
  }

  .modal-content .modal_wrap .content .prod_img img {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
  }

  .modal-content .modal_wrap .content div {
    padding: 1em;
    display: inline-block;
  }

  .modal-content .modal_wrap .button {
    background: #0151a0;
    color: white;
  }

  .modal-content .modal_wrap .button:hover {
    opacity: 0.8;
  }

  .fa-solid, .fas {
    float: right;
    padding-top: 5px;
  }


  @media only screen and (max-width: 990px) {

    div.product-info {
      width: 98%;
    }

    .wrap .selected_product .right.reset span {
      display: none;
    }

    .wrap .selected_product .right.reset .fa-solid.fa-rotate {
      font-size: 1.6em;
    }

    div#jacket_name div,
    div#shielding_name div,
    div#closure_name div,
    div#shape_name div {
      margin: 0.4em;
    }

    #jacket_name,
    #shielding_name {
      text-align: center;
    }

  }

  @media only screen and (max-width: 1440px) {

    .modal-content {
      width: 98%;
    }

  }

</style>

<div class="wrap">
asdf
  <div class="selected_product">
    <div class="page-width">
      <div class="left"><a href="/"><i class="fak fa-zt-zippertubing"></i></a></div>
      <div class="title"></div>
      <div class="right reset"><i class="fa-solid fa-rotate"></i><span>&nbsp;Reset Selections</span></div>
    </div>
  </div>
  <div class="product-info page-width">
    <h1>Product Finder</h1>

    <section class="jacket">
      <h3>Exterior Material (Jacket Name)</h3>
      <div name="jacket_name" id="jacket_name">
        <div class="None" data-id="None" style="margin-right: 10px;">
          <span>None</span>
        </div>
      </div>
    </section>
    
    <section class="shield">
      <h3>Available Shield</h3>
      <div name="shielding_name" id="shielding_name"></div>
    </section>
    
    <section class="closure">
      <h3>Available Closure</h3>
      <div name="closure_name" id="closure_name"></div>
    </section>
    
    <section class="shape">
      <h3>Shape of Install</h3>
      <div name="shape_name" id="shape_name"></div>
    </section>
    
  </div>

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal_wrap">
        <div class="prod_title">
          <h1>Shrink-N-Shield® (3:1)<a href="/products/shrink-n-shield%C2%AE-3-1" target="_blank"><span>[See more details]</span></a></h1>
        </div>
        <div class="content">
          <div class="prod_img">
            <img src="https://cdn.shopify.com/s/files/1/0577/3534/8362/products/shrink-n-shield-31_black_3-1_1.jpg">
          </div>
          <div class="prod_detail">
            <p>Shrink-N-Shield® (3:1) is an EMI shielding heat-shrink tubing that has a 3:1 shrink ratio and can be cut to length. The flexible, flame-retardant and self-extinguishing polyolefin sleeve can withstand temperatures up to 275°F (135°C). Additionally, the jacketing has excellent abrasion, chemical, fluid and fungus resistance.</p>
            <p>Drawing Number(s): <b>ZT01-18-001, ZT16-18-003, ZT18-18-001</b></p>
            <a href="/pages/contact"><button class="button">Get a Quote</button></a>
          </div>
        </div>
        <div class="prod_spec">
          <h2>Overall Performance</h2>
          <table>
            <tbody>
              <tr class="table_header">
                <td>RoHS</td>
                <td>Shelf Life</td>
                <td>Abrasion Resistance</td>
                <td>Shielding Effectiveness</td>
                <td>Heat Shrink Material</td>
                <td>Installation Type</td>
                <td>Purpose</td>
                <td>Purpose</td>
              </tr>
              <tr>
                <td>Shielding Material</td>
                <td>Shrink Ratio</td>
                <td>Material Flexibility</td>
                <td>Shielding Type</td>
                <td>Min Temperature</td>
                <td>Minimum Operating Temperature</td>
                <td>Max Temperature</td>
                <td>Maximum Operating Temperature</td>
              </tr>
              <tr class="table_header">
                <td>RoHS-10</td>
                <td>60 months</td>
                <td>Best</td>
                <td>Better</td>
                <td>Polyolefin</td>
                <td>Pull-Through</td>
                <td>EMI Shielding</td>
                <td>Small Diameters</td>
              </tr>
              <tr>
                <td>Nickel Plated Copper</td>
                <td>3:1</td>
                <td>Best</td>
                <td>Cloth</td>
                <td>Extreme</td>
                <td>-67°F (-55°C)</td>
                <td>Moderate</td>
                <td>275°F (135°C)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="button_wrap">
          <a href="/pages/contact"><button class="button">Contact Us</button></a>
        </div>
      </div>
    </div>
  </div>

</div>


<script>

  const zt_json_url = "https://zippertubing.us/wp-content/uploads/json/product_finder_2.json";

  // get jacket names
  jQuery.getJSON(zt_json_url, function(data) {
    let jacketName = [];
    let jacketNameList = [];
    jQuery.each(data, function(key, value) {
      if (jacketName.indexOf(value.JacketName) < 0) {
        jacketName.push(value.JacketName);
        jacketNameList = jacketName.sort();
      }
    });
    jacketNameList.map( getJacketValue );
    function getJacketValue(jacketValue) {
      jacketValueNew = jacketValue.replace(/[{( :/ )}]/g, '');
      if (jacketValueNew != "None") {
        jQuery("#jacket_name").append("<div class='" + jacketValueNew + "' data-id='" + jacketValue + "'><span>" + jacketValue + "<a href='https://www.zippertubing.com/materials/jacketing/coated-fabrics/srfg-32' target='_blank'><i class='fa-solid fa-circle-info'></i></a></span></div>");
        jQuery("." + jacketValueNew).css('background-image', 'url(https://zippertubing.us/wp-content/uploads/product_finder/' + jacketValueNew + '.jpg)');
        jQuery("." + jacketValueNew).css('background-size', '100% 100%');
      }
    }
  });

  // create onchange on select and call function to create options
  window.addEventListener('load', function () {

    let selected_jacketName     = "";
    let selected_shieldingName  = "";
    let selected_closureName    = "";

    jQuery("#jacket_name").click(function(e) {
      let target = e.target;
      if (target.dataset.id) {
        jQuery("#shielding_name div").remove();
        jQuery("#jacket_name div").removeClass("selected");

        getShieldResult(target.dataset.id);
        selected_jacketName = target.dataset.id;
        jQuery(target).addClass("selected");
        jQuery(".shield").show("fast");
        jQuery("html, body").animate({scrollTop: jQuery("section.shield").offset().top - 110},800);
        topBreadCrumb(selected_jacketName, "jacket_breadcrumb");
      }
    });

    jQuery("#shielding_name").click(function(e) {
      let target = e.target;
      if (target.dataset.id) {
        jQuery("#closure_name div").remove();
        jQuery(e.currentTarget.childNodes).removeClass("selected");

        getClosureResult(target.dataset.id, selected_jacketName);
        selected_shieldingName = target.dataset.id;
        jQuery(target).addClass("selected");
        jQuery(".closure").show("fast");
        jQuery("html, body").animate({scrollTop: jQuery("section.closure").offset().top - 110},800);
        topBreadCrumb(selected_shieldingName, "shielding_breadcrumb");
      }
    });

    jQuery("#closure_name").click(function(e) {
      let target = e.target;
      if (target.dataset.id) {
        jQuery("#shape_name div").remove();
        jQuery(e.currentTarget.childNodes).removeClass("selected");

        getShapeResult(target.dataset.id, selected_shieldingName, selected_jacketName);
        selected_closureName = target.dataset.id;
        jQuery(target).addClass("selected");
        jQuery(".shape").show("fast");
        jQuery("html, body").animate({scrollTop: jQuery("section.shape").offset().top - 110},800);
        topBreadCrumb(selected_closureName, "closure_breadcrumb");
      }
    });

    jQuery("#shape_name").click(function(e) {
      if (e.target.dataset.id) {
        modalPop(e.target.dataset.id);
      }
    });

    jQuery(".reset").click(function() {
      resetSelections();
    });

  });

  function getShieldResult(materialId) {
    jQuery.getJSON(zt_json_url, function(data) {
      // create function to get shield material and add option to select tag
      let shieldName = [];
      let shieldNameList = [];
      jQuery.each(data, function(key, value) {
        if (value.JacketName === materialId) {
          if (shieldName.indexOf(value.ShieldingName) < 0) {
            shieldName.push(value.ShieldingName);
            shieldNameList = shieldName.sort();
          }
        }
      });
      shieldNameList.map( getShieldingValue );
      function getShieldingValue(ShieldingValue) {
        ShieldingValueNew = ShieldingValue.replace(/[{( :/ )}]/g, '');
        if (ShieldingValueNew != "None") {
          jQuery("#shielding_name").append("<div class='" + ShieldingValueNew + "' data-id='" + ShieldingValue + "'><span>" + ShieldingValue + "<a href='https://www.zippertubing.com/materials/jacketing/coated-fabrics/srfg-32' target='_blank'><i class='fa-solid fa-circle-info'></i></a></span></div>");
          jQuery("." + ShieldingValueNew).css('background-image', 'url(https://zippertubing.us/wp-content/uploads/product_finder/' + ShieldingValueNew + '.jpg)');
          jQuery("." + ShieldingValueNew).css('background-size', '100% 100%');
        }
      }
    });
  }

  function getClosureResult(materialId, selected_jacketName) {
    jQuery.getJSON(zt_json_url, function(data) {
      // create function to get closure and add option to select tag
      let closureName = [];
      let ClosureNameList = [];
      jQuery.each(data, function(key, value) {
        if (value.ShieldingName === materialId && value.JacketName === selected_jacketName) {
          if (closureName.indexOf(value.ClosureName) < 0) {
            closureName.push(value.ClosureName);
            ClosureNameList = closureName.sort();
          }
        }
      });
      ClosureNameList.map( getClosureNameValue );
      function getClosureNameValue(ClosureNameValue) {
        ClosureNameValueNew = ClosureNameValue.replace(/[{( :/ )}]/g, '');
        if (ClosureNameValueNew != "None") {
          jQuery("#closure_name").append("<div class='" + ClosureNameValueNew + "' data-id='" + ClosureNameValue + "'><span>" + ClosureNameValue + "<a href='https://www.zippertubing.com/materials/jacketing/coated-fabrics/srfg-32' target='_blank'><i class='fa-solid fa-circle-info'></i></a></span></div>");
          jQuery("." + ClosureNameValueNew).css('background-image', 'url(https://zippertubing.us/wp-content/uploads/product_finder/' + ClosureNameValueNew + '.jpg)');
          jQuery("." + ClosureNameValueNew).css('background-size', '100% 100%');
        }
      }        
    });
  }

  function getShapeResult(materialId, selected_closureName, selected_jacketName) {
    jQuery.getJSON(zt_json_url, function(data) {
      let shapeName = [];
      let n = 0;
      jQuery.each(data, function(key, value) {
        let ShapeName_Class = value.ShapeName.replace(/[{( :/ )}]/g, '');
        if (value.ClosureName === materialId && value.ShieldingName === selected_closureName && value.JacketName === selected_jacketName) {
          if (shapeName.indexOf(value.ShapeName) < 0) {
            shapeName.push(value.ShapeName);
            jQuery("#shape_name").append("<div id='modal_btn_" + n + "' class='" + ShapeName_Class + "' data-id='" + value.ShapeName + "'><span>" + value.ShapeName + "</span></div>");
            jQuery("." + ShapeName_Class).css('background-image', 'url(https://zippertubing.us/wp-content/uploads/product_finder/' + ShapeName_Class + '.jpg)');
            jQuery("." + ShapeName_Class).css('background-size', '100% 100%');
          }
          n++;
        }
      });
    });
  }

  function topBreadCrumb(materialName, id) {
    
    let checkTitle = jQuery(".title").text().length;
    let checkSubTitle = jQuery("span." + id).text().length;

    if (id === "jacket_breadcrumb" && checkTitle > 0) {
      jQuery(".title span").text(materialName);
      jQuery(".title span:first").nextAll().remove();
    }else if (id === "jacket_breadcrumb" && checkTitle == 0) {
      jQuery(".title").html("Your Selections: <span class='" + id + "'>" + materialName + "</span>");
    }else if (id !== "jacket_breadcrumb" && checkSubTitle > 0) {
      jQuery(".title ." + id).text(" / " + materialName);
    }else if (id !== "jacket_breadcrumb" && checkSubTitle == 0) {
      // jQuery(".title span:first").nextAll().remove();
      jQuery(".title").append("<span class='" + id + "'> / " + materialName + "</span>");
    }

  }

  function resetSelections() {
    jQuery(".title, .shield #shielding_name, .closure #closure_name, .shape #shape_name").empty();
    jQuery(".shield, .closure, .shape").css("display", "none");
    jQuery("#jacket_name div, #shielding_name div, #closure_name div, #shape_name div").removeClass("selected");
    jQuery("html, body").animate({scrollTop: jQuery("html").offset().top},800);
  }

  function modalPop(e) {

    // Get the modal
    let modal = document.getElementById("myModal");

    jQuery("span.close").click(function() {
      modal.style.display = "none";
    });

    // When the user clicks the button, open the modal 
    modal.style.display = "block";

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  }

</script>
<script src="https://kit.fontawesome.com/705be73d5a.js" crossorigin="anonymous" defer></script>

