{{ 'custom-langing-page.css' | asset_url | stylesheet_tag }}

{% comment %} {% if template == 'index' %}
{% include 'header' %}
{% elsif page.handle == 'talent' %}
{% include 'header-talent' %}
{% else %}

{% include 'header-for-other-pages' %}
{% endif %} {% endcomment %}

{% comment %} <div class="custom-landing-page"> {% endcomment %}
<div class="custom-landing-page page-width">
  <div class="monitor_fill_container flex">
    <div class="photo">
      <img src="https://via.placeholder.com/600x400?text=photo">
    </div>
    <div class="photo_desc">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida a nisi a eleifend. Vivamus porta accumsan elit vitae aliquam. Integer sodales condimentum nisi, non aliquet odio elementum ac. Pellentesque rhoncus eget sapien vitae tristique. Praesent non eros eget libero efficitur aliquam. Integer diam nunc, dignissim id eleifend et, rutrum at ante. Ut scelerisque, erat vitae sagittis tempor, ex urna porttitor magna, at volutpat nibh risus sit amet sapien. Mauris vulputate turpis ut nisl volutpat, eu ornare quam auctor. Nunc nec nulla bibendum, venenatis felis eget, sagittis arcu. Praesent elit leo, imperdiet ac metus a, pulvinar efficitur dui. Duis et dictum augue, id gravida arcu. Suspendisse ac sem id dolor semper efficitur.</p>
      <div class="button_wrap">
        <button class="button">Learn More</button>
      </div>
    </div>
  </div>
  <div class="combine_materials">
    <div class="title">
      <span>Combine Materials</span> to fit your application.
    </div>
    <div class="jacketing">
      <img src="https://via.placeholder.com/200?text=Jacketing">
    </div>
    <div class="shielding">
      <img src="https://via.placeholder.com/200?text=Shielding">
    </div>
    <div class="closure">
      <img src="https://via.placeholder.com/200?text=Closure">
    </div>
    <div class="shape">
      <img src="https://via.placeholder.com/200?text=Shape">
    </div>
    <div class="get_started">
      <img src="https://via.placeholder.com/200?text=Get+Started">
    </div>
  </div>
  <div class="monitor_fill_container">
    <div class="video_player">
      <iframe src="https://www.youtube.com/embed/p4mHOllDqBg?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen="" title=""></iframe>
    </div>
  </div>
  <div class="monitor_fill_container">
    <div class="case_studies">
      <div>Industries </div>
    </div>
  </div>
  <div class="monitor_fill_container">
    <div class="product_list">
      product list
    </div>
  </div>
  <div class="monitor_fill_container flex">
    <div class="not_find">
      <img src="https://via.placeholder.com/600x400?text=Can't+find+what+you+are+looking+for?">
    </div>
    <div class="contact_form">
      <img src="https://via.placeholder.com/600x400?text=contact+form">
    </div>
  </div>
</div>

