{{ 'custom-langing-page.css' | asset_url | stylesheet_tag }}

<div class="custom-landing-page page-width">
  <div>photo with short content</div>
  <div>video overview</div>
  <div>case studies or industries or customer logos</div>
  <div>product filters and product list</div>
  <div>contact form</div>
</div>