<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>

	.testimonials_wrap .left_col,
	.testimonials_wrap .right_col {
		padding: 5em;
	}
	.testimonials_wrap .miller {
		background: url('https://via.placeholder.com/600');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
		width: 50%;
	}
	.testimonials_wrap .magneticomm {
		background: url('https://via.placeholder.com/600');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center; 
		width: 50%;
	}

</style>

<div class="testimonials_wrap">

	<div class="col-sm-6 left_col">
		<p>Miller Edge, Inc.</p>
		<p>I engaged Zippertubing on a development project after careful review of their online products and capabilities. Matt and his team met with me and provided hands-on review and technical details of existing products and their impressive library of material samples. They offer robust protective coverings made from natural and synthetic fabrics, metal and polymer foils and films and a huge assortment of engineered structures developed for specific functions such as puncture and abrasion resistance, EMI shielding and more. We talked about our product performance demands and cost considerations. We also reviewed conceptual design details about our vision of the finished product. Just a week later Matt called me back for another meeting where I was shown actual proof of concept assemblies as well as functional prototypes. It took a few more iterations to iron out details, but the Zippertubing engineering and sales experts were able to develop timely and cost effective protective covering solutions to our demanding performance requirements. 10 out of 10.</p>
		<p><u>Kelly Hedegard<br>Tempe Branch Manager<br>Miller Edge, Inc.</u></p>
	</div>
	<div class="col-sm-6 right_col miller">
		<img src="https://via.placeholder.com/600" style="visibility: hidden;" />
	</div>
	<div class="col-sm-6 left_col magneticomm">
		<img src="https://via.placeholder.com/600" style="visibility: hidden;" />
	</div>
	<div class="col-sm-6 right_col">
		<p>Magneticomm</p>
		<p>The Zippertubing Company sales engineer was very responsive and was interested in finding the correct solutions to our problems. The Zippertubing Company got us samples quickly and helped us make a decision on our needs in short order.</p>
		<p><u>Greg Trook<br>Magneticomm</u></p>
	</div>

</div>

