{{ 'custom-langing-page.css' | asset_url | stylesheet_tag }}

<div class="custom-landing-page page-width">
  <div class="monitor_fill_container">photo with short content</div>
  <div class="monitor_fill_container">video overview</div>
  <div class="monitor_fill_container">case studies or industries or customer logos</div>
  <div class="monitor_fill_container">product filters and product list</div>
  <div class="monitor_fill_container">contact form</div>
</div>